/* GOOGLE FONT */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

:root {
    --overlay-color: #03a9f4;
    --overlay-black: #111;
    --esquadria-green: rgb(4, 58, 58);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
