@media only screen and (min-width:1601px) {

    /* ABOUT SECTION */
    .about .col-md-6 img {
        width: 80%;
    }

    .about p {
        width: 80%;
    }
}

@media only screen and (min-width:1368px) {

    /* HOME */
    .home p {
        font-size: 1.5rem;
    }

    #services .user-services {
        height: 550px;
    }
}

@media only screen and (max-width: 1040px) {

    /* HOME */
    .home {
        padding: 100px 20px;
    }

    .home .media-icons {
        right: 15px;
    }

    /* HEADER */
    header {
        padding: 12px 20px;
    }

    .header .logo {
        position: absolute;
        left: 50px;
        margin-top: -20px;
    }

    header .navigation {
        display: none;
    }

    header .navigation.active {
        position: fixed;
        width: 100%;
        height: 109vh;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(1, 1, 1, 0.7);
        z-index: -1;
    }

    header .navigation .navigation-items ul li {
        margin-bottom: 8px !important;
        width: 150px;
        text-align: center;
        padding: 8px 0;
    }

    .header .navigation .navigation-items ul li a {
        color: var(--esquadria-green) !important;
    }

    header .navigation .navigation-items a:before {
        background: #222;
        height: 5px;
    }

    header .navigation-items {
        background: #fff;
        height: auto;
        box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
        padding: 10px 0;
    }

    header .navigation.active .navigation-items ul {
        width: 600px;
        max-width: 600px;
        margin: 20px;
        padding: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 5px;
    }

    /* HEADER MENU */
    .menu-btn .fa-bars,
    .menu-btn .fa-times:before {
        display: block !important;
    }

    .menu-btn .fa-bars.active {
        display: none !important;
    }
}

@media only screen and (max-width: 1000px) {

    /* SERVICES SECTION */
    #services .row {
        flex-direction: column !important;
    }

    #services .row .col-md-4 {
        width: 90%;
        margin: 15px auto;
    }

    /* COOKIES SECTION */
    .cookies {
        padding: 25px;
    }

    .cookies .container {
        padding: 25px 60px;
    }
}

@media only screen and (max-width: 990px) {

    /* General Styles */
    .show-desktop {
        display: none !important;
    }

    .show-tablet {
        display: block !important; 
    }

    /* SERVICES SECTION */
    #services .user-services {
        transition: 0.3s;
    }

    /* FOOTER */
    #footer p {
        font-size: 9px;
    }

}

@media only screen and (max-width: 800px) {

    /* ABOUT SECTION */
    .about .row,
    .contact-us .row {
        flex-direction: column !important;
    }

    .about .col-md-6 {
        width: 100%;
    }


    .about .row {
        margin: 30px 0;
        padding-right: 0 !important;
        padding-left: 0 !important;
    }

    .about .col-md-6 img {
        height: initial;
        padding-right: 0px;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        display: block;
    }
}

@media only screen and (max-width: 768px) {

    /* CONTACT SECTION */
    .contact-us p {
        text-align: center;
    }

    /* FOTER */
    #footer p,
    #footer ul li a {
        font-size: 0.7rem;
    }

    /* SERVICES SECTION */
    #services .user-services {
        margin-top: 50px;
    }

    /* THANKS PAGE */
    .thanks-page p {
        font-size: 1rem;
    }

    /* COOKIES SECTION */
    .cookies .container {
        max-width: 100%;
    }
}

@media only screen and (max-width: 700px) {

    /* GALLERY SECTION */
    .gallery .row {
        flex-direction: row !important;
    }

    .gallery img {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }


    /* GENERAL STYLES */
    .row {
        flex-direction: column;
    }
}

@media only screen and (max-width: 650px) {

    /* THANKS PAGE */
    .thanks-page p {
        font-size: 1rem;
    }

    .thanks-page {
        background-position: 55% center;
    }

    /* CONTACT */
    .location {
        width: 95%;
    }
}

@media only screen and (max-width: 560px) {

    /* HOME */
    .home:before {
        opacity: 0.4;
    }

    .home .content h2 {
        font-size: 2em;
        line-height: 60px;
    }

    /* HEADER */

    .header .logo {
        left: 5px;
    }

    header .logo {
        width: 90px;
        margin-top: 25px;
    }
}

@media only screen and (max-width: 500px) {

    /* GENERAL STYLES */
    .title {
        font-size: 2.2rem;
    }

    /* ABOUT SECTION */
    .about {
        text-align: center;
        width: 95% !important;
    }

    .about h1 {
        font-size: 1.3rem;
    }


    .coll {
        align-items: center;
    }

    /* BANNER */
    #banner {
        height: 80vh;
    }

    /* SERVICES SECTION */
    #services .row .col-md-4 {
        width: 100% !important;
    }

    /* HOME */
    .home .content .btn {
        font-size: 0.8rem !important;
        padding: 10px 20px;
        margin-top: 55px;
    }

    /* GALLERY SECTION */

    .gallery {
        padding: 80px 0px 100px;
    }

    /* FOOTER */
    #footer {
        padding: 25px 25px 0;
        width: 100%;
    }

    /* COOKIS SECTION */
    .cookies {
        padding: 10px;
        text-align: center;
    }

    .cookies p {
        text-align: justify;
        font-size: 11px;
    }

    .container-title h1 {
        font-size: 1.6rem;
    }

    .cookies h2 {
        font-size: 1.2rem;
    }

    .cookies .container {
        padding: 15px;
    }

    /* 404 ERROR PAGE  */
    .page404 .container h1 {
        color: #415c43;
        font-size: 5rem;
        font-weight: bolder;
    }

    .page404 .container h2 {
        color: #bec4bf;
        font-size: 1.6rem;
        margin-bottom: 25px;
    }

    .page404 .container p {
        color: #f8fdf9;
        font-size: 1.3rem;
    }

    /* THANKS PAGE */
    .thanks-page p {
        font-size: 0.8rem;
    }
}

@media only screen and (max-width: 470px) {

    /* HOME */
    .home .content h2 {
        font-size: 1.5em;
        line-height: 60px;
    }

    .home .content h3 {
        font-size: 2em;
        line-height: 60px;
    }
}

@media only screen and (max-width: 410px) {

    /* HOME */
    .home .content .btn {
        width: 260px;
        margin-top: 80px;

    }
}

@media only screen and (max-width: 386px) {

    /* HEADER */
    .header {
        margin-top: 0px;
        height: 100px;
        position: fixed;
    }

    .header.active {
        margin-top: -5px;
    }

    /* FOOTER */
    #footer .container .copyright {
        font-size: 0.7rem;
    }
}

@media only screen and (max-width: 380px) {

    /* HOME */
    .home .content {
        margin-top: -10px;
    }

    .home .home-content h1 {
        font-size: 1.8rem;
        width: 300px;
        margin: 40px 0;
    }

    .home .content h2 {
        font-size: 1.3em;
        margin: 15px 0 -15px;
    }

    .home .content h3 {
        font-size: 2em;
        margin-top: -25px;
    }

    .home .content p {
        margin-bottom: 30px;
        width: 280px;
    }

    .home .content .btn {
        font-size: 0.8em;
        width: 230px;
    }

    header .navigation {
        padding: 26px !important;
    }

    /* SOCIAL ICONS */
    .social-desktop {
        display: none !important;
    }

    .social-mobile {
        display: block;
    }

    .media-icons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 55px;
        left: 50%;
        transform: translateX(-50%);
        background-color: #415c43;
        width: 100%;
        height: 60px;
        bottom: 25px;
    }

    .media-icons a {
        color: var(--overlay-black);
        margin: 2px 15px 0;
        padding: 15px 0 0;
    }

    /* HEADER */
    header .logo {
        width: 80px;
        margin-top: 25px;
    }
}

@media only screen and (max-width: 330px) {
    header .navigation .navigation-items ul li {
        padding: 5px 0;
    }

    .home .content p {
        width: 255px;
    }

    .media-icons {
       margin-bottom:  15px;
    }

    .home .home-content h1 {
        width: 250px;
    }
}

@media only screen and (max-width: 321px) {


    .menu-btn .fa-times {
        margin-top: 25px;
        /* color: initial; */
    }
}

@media only screen and (max-height: 652px) {

    header .navigation .navigation-items ul  {
        padding: 5px !important;
    }

    .menu .fa-times {
        top: -15px !important;
    }

}

/* MEDIA QUERIES LAND SCAPE MODE */
/* MEDIA QUERIES ABOUT*/
@media only screen and (max-width: 900px) and (min-width: 800px) {

    /* ABOUT SECTION */
    .about .col-md-6 img {
        margin-top: 100px;
    }
}

@media only screen and (max-width: 767px) and (min-width: 576px) {

    /* GALLERY SECTION */
    .last-img-gallery {
        display: none;
    }
}

/* BLACK BERRY Z30*/
@media only screen and (max-height: 366px) and (max-width: 650px) {

    /* GENERAL STYLES */
    .title {
        font-size: 2rem;
    }

    /* HOME */
    .home .content {
        margin-top: 15px;
    }

    .home .content h2 {
        font-size: 1.5rem;
    }

    .home .media-icons {
        margin-top: -35px;
    }

    /* BANNER SECTION */
    #banner .banner-highlights {
        margin-top: -70px !important;
        padding: 50px 0;
    }
}

@media only screen and (max-height: 500px) and (max-width: 900px) {

    /* 404 ERROR PAGE  */
    .page404 {
        height: initial;
    }
}

/* PIXEL 2 XL */
@media only screen and (max-height: 421px) and (max-width: 823px) {

    /* GENERAL STYLES */
    .title {
        font-size: 2rem;
    }

    /* BANNER SECTION  */
    #banner .banner-highlights {
        margin-top: -70px !important;
        padding: 50px 0;
    }
}

/* PIXEL 2 */
@media only screen and (max-height: 411px) and (max-width: 731px) {}

/* iPhone 6/7/8 PLUS */
@media only screen and (max-height: 436px) and (max-width: 736px) {}

/* SURFACE DUO */
@media only screen and (max-height: 542px) and (max-width: 721px) {

    /* BANNER SECTION  */
    #banner .banner-highlights {
        margin-top: 10px !important;
        padding: 30px 0;
    }
}

/* iPhone  X*/
@media only screen and (max-height: 375px) and (max-width: 1000px) {

    /* GENERAL STYLES */
    .title {
        font-size: 2rem;
    }

    /* HOME */
    .home .content {
        margin-top: -20px;
    }

    .home .content {
        margin-top: 15px;
    }

    .home .content h2 {
        font-size: 1.8rem;
    }

    .home .content h3 {
        font-size: 1.5rem;
    }

    .home .content p {
        font-size: 1.1rem;
    }

    .home .media-icons {
        margin-top: -135px;
    }

    /* BANNER SECTION */
    #banner .banner-highlights {
        margin-top: -60px !important;
        padding: 30px 0;
    }
}

/* iPhone  6/7/8*/
@media only screen and (max-height: 375px) and (max-width: 667px) {

    /* GENERAL STYLES */
    .title {
        font-size: 2rem;
    }

    /* HOME */
    .home .content {
        margin-top: -20px;
    }

    .home .content {
        margin-top: 15px;
    }

    .home .content h2 {
        font-size: 1.5rem;
    }

    .home .content h3 {
        font-size: 1.3rem;
    }

    .home .content p {
        font-size: 0.8rem;
    }


    .home .media-icons {
        margin-top: -135px;
    }

    /* BANNER SECTION */
    #banner .banner-highlights {
        margin-top: -60px !important;
        padding: 30px 0;
    }
}

/* iPhone 5/SE */
@media only screen and (max-height: 321px) and (max-width: 570px) {

    /* GENERAL STYLES */
    .title {
        font-size: 2rem;
    }

    /* HOME */
    .home .content {
        margin-top: -20px;
    }

    .home .content {
        margin-top: 15px;
    }

    .home .content h2 {
        font-size: 1.5rem;
    }

    .home .content h3 {
        font-size: 1.3rem;
    }

    .home .content p {
        font-size: 0.8rem;
    }


    .home .media-icons {
        margin-top: -135px;
    }

    /* BANNER SECTION */
    #banner .banner-highlights {
        margin-top: -60px !important;
        padding: 30px 0;
    }
}